services:
  backend:
    build:
      context: ./.
      dockerfile: Dockerfile
    container_name: qira_data_bridge_backend
    ports:
      - "8080:8080"
    environment:
      - SERVER_PORT=8080
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=qira_data_bridge
      - DB_USER=admin
      - DB_PASSWORD=password
      - DATABASE_URL=postgresql://admin:password@postgres:5432/qira_data_bridge
    depends_on:
      - postgres
    networks:
      - app-network

  postgres:
    image: postgres:15
    container_name: qira_data_bridge_postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=qira_data_bridge
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
